.properties {
  /* display: none; */

  @media (--s) {
    display: flex;
  }
}

.property {
  position: relative;

  @media (--s) {
    &:not(:last-child) {
      margin-right: var(--xr);
    }
  }
}

.title {
  @media (--s) {
  }
}

.enums {
  composes: at from '../../Fonts.module.css';

  @media (--s) {
    display: none;
  }
}
