.item {
  background: #fff;
  padding: calc(var(--yr) * var(--s3)) var(--xr);
  margin-bottom: calc(var(--yr) * var(--s3));
  display: grid;
  grid-template-columns: 5rem  1fr 5rem;
  grid-column-gap: var(--xr);

  @media (--s) {
    grid-column-gap: calc(var(--xr) * 2);
  }
}

.image {
  position: relative;
  /* background-color: red; */
  overflow: hidden;

  &::before {
    display: block;
    content: '';
    padding-top: calc(5 / 4 * 100%)
  }

  & img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 50%;
    right: 0;
    transform: translate(-50%, -50%);
  }
}

.data {
  composes: at from '../Fonts.module.css';
}

.price {
  composes: mt from '../Fonts.module.css';
  color: var(--gr_color);
  margin-top: var(--yr);
}
