.root {
  /* padding-bottom: calc(var(--yr) * var(--s4)); */
}

.login {
  margin-top: calc(var(--yr) * var(--s3));
}


.item {
  background: #fff;
  padding: calc(var(--yr) * var(--s3)) var(--xr);
  margin-bottom: calc(var(--yr) * var(--s3));
  display: grid;
  grid-template-columns: 5rem  1fr 5rem;
  grid-column-gap: var(--xr);

  @media (--s) {
    grid-column-gap: calc(var(--xr) * 2);
  }
}

.image {
  position: relative;
  /* background-color: red; */
  overflow: hidden;

  &::before {
    display: block;
    content: '';
    padding-top: calc(5 / 4 * 100%)
  }

  & img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 50%;
    right: 0;
    transform: translate(-50%, -50%);
  }
}

.data {
  composes: at from '../Fonts.module.css';
}

.size {
  composes: mt from '../Fonts.module.css';
  margin-top: var(--yr);
}

.price {
  composes: mt from '../Fonts.module.css';
  color: var(--gr_color);
  margin-top: var(--yr);
}

.input {
  & input {
    width: 100%;
    min-width: none;
    text-align: center;
    font-size: calc(var(--yr) * 4);
    padding: 0;
    box-shadow: inset 0 0 0 1px var(--sp_color);
    border: 0;
    line-height: calc(var(--yr) * 7.5);
    height: calc(var(--yr) * 7.5);
    display: block;
    outline: none;

    &:focus {
      box-shadow: inset  0 0 0 1px var(--pr_color);
    }
  }
}

.buttons {
  display: grid;
  grid-template-columns: 1.875rem 3rem 1.875rem;
  grid-column-gap: var(--yr);
  margin-top: var(--yr);
}

.button {
  & button {
    outline: none;
    line-height: calc(var(--yr) * 7.5);
    height: calc(var(--yr) * 7.5);
    display: block;
    text-align: center;
    background: var(--sp_color);
    width: calc(var(--yr) * 7.5);
    border: 0;
    appearance: none;
    padding: 0;
  }
}

.minus {
  order: -1;
}
