.footer {
  background: $dark-grey-color;
  padding: $margin-m $gutter;

  &-menu {
    margin-bottom: $margin-l;
    text-transform: uppercase;
    letter-spacing: 0.12em;

    &-item {
      margin-bottom: $margin-m;

      a {
        &:hover {
          color: #bbb;
        }
      }

      &:last-child {
        margin-bottom: 0;
      }

    }
  }

  &-like {
    // @include font-size-small;
  }

  a {
    color: $light-color;
    border-bottom: none;
  }

  @include breakpoint($s) {
    display: flex;

    &-like {
      margin-left: auto;
    }

    &-menu {
      margin-bottom: 0;
      display: flex;

      &-item {
        margin: 0 1em 0 0;
      }
    }
  }
}

.benefits {
  background: $light-color;
  padding: 2rem $gutter;
  // border-top: 8px solid $light-color;

  &-list {
  }

  &-item {
    display: flex;
    margin-bottom: $margin-m;

    &.inact {
      opacity: 0.5;
      color: $primary-grey-color;
    }

    .icn {
      flex-shrink: 0;
      // border: 1px solid $primary-color;
      // border-radius: 50%;
      background-size: cover;
      height: 3rem;
      margin-right: $gutter;
      width: 3rem;

      &-1 {
        background-image: url('/img/icons/delivery.svg')
      }

      &-2 {
        background-image: url('/img/icons/expert.svg')
      }

      &-3 {
        background-image: url('/img/icons/sale.svg')
      }

      &-4 {
        background-image: url('/img/icons/mail.svg')
      }

      &-5 {
        background-image: url('/img/icons/phone.svg')
      }
    }

    .desc {
      align-self: center;
    }

  }

  @include breakpoint($s) {
    &-list {
      display: flex;
      flex-wrap: wrap;
    }

    &-item {
      width: 50%;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  @include breakpoint($m) {
    &-item {
      width: 25%;

      margin-bottom: 0;
    }
  }

}
