$header-size: 3rem;
$header-size-medium: 5rem;

.header {
  background: $light-color;
  display: flex;
  height: $header-size;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 9;

  a {
    border-bottom: 0;
  }

  &-burger {
    // margin: 0 $gutter / 2;

    .burger {
      padding: 19px $gutter 18px;
      user-select: none;
      cursor: pointer;

      &-line {
        background: $primary-grey-color;
        height: 1px;
        width: $gutter;
        margin-bottom: 4px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  &-logo {
    a {
      display: block;
      padding: $margin-xs 0;
      height: $header-size;

      img {
        display: block;
        height: 100%;
      }
    }
  }

  &-bag {
    margin-right: $gutter / 2;

    .bag {
      display: block;
      height: $header-size;
      width: $header-size;
      padding: 0.5rem;

      svg {
        width: 2rem;
        height: 2rem;

        .cnt {
          opacity: 0;

          &-act {
            opacity: 1;
          }
        }

        .a, .b, .c, .e {
          fill: none;
        }

        .a, .b, .c {
          stroke: #8f8f8f;
        }

        .a {
          stroke-linecap: round;
        }

        .a, .c {
          stroke-linejoin: round;
        }

        .b {
          stroke-miterlimit: 10;
        }

        .d {
          fill: #ef4438;
        }

        .f {
          // isolation: isolate;
          text-anchor: middle;
          font-size: 10px;
          fill: #fff;
          font-family: 'proxima-nova', sans-serif;
        }
      }
    }
  }

  &-search-icon {
    margin-left: auto;

    .search {
      background: {
        image: url('/img/search.svg');
        size: 2rem;
        repeat: no-repeat;
        position: center;
      }
      display: block;
      height: $header-size;
      width: $header-size;
    }
  }

  &-phone {
    flex-shrink: 0;
    display: none;
  }

  &-search {
    flex-shrink: 0;
    display: none;
  }

  &-menu {
    display: none;
  }

  @include breakpoint($s) {
    height: $header-size-medium;

    &-logo {
      a {
        height: $header-size-medium;
        padding: $margin-s 0;
      }
    }

    &-phone {
      align-self: center;
      display: block;
      margin: 0 $gutter 0 auto;

      font-size: 1.25rem;
      line-height: 3rem;
    }

    &-search-icon {
      margin-left: 0;
    }

    &-burger, &-search-icon, &-bag, &-phone {
      padding: $margin-s 0;
    }
  }


  @include breakpoint($mm) {
    &-menu {
      display: flex;
      font-size: 0.875rem;
      padding: $margin-l 0;
      margin-left: $gutter;
      // letter-spacing: 0.12em;
      text-transform: uppercase;


      &-item {
        align-self: center;
        margin-right: $gutter;

        a {
          &:hover {
            color: #bbb;
          }
        }

        &.active {
          a {
            color: #bbb;
          }
        }
      }
    }

    &-burger {
      display: none;
    }

    &-logo {
      margin-left: $gutter;
    }

    &-phone {
      font-size: 1rem;
    }

  }

  @include breakpoint($mm + 8rem) {
    &-menu {
      letter-spacing: 0.12em;
    }

    &-phone {
      font-size: 1.25rem;
    }
  }

  @include breakpoint($l) {
    &-search-icon {
      display: none;
    }

    &-search {
      align-self: center;
      display: block;
      flex-grow: 1;
      max-width: 18rem;
      position: relative;
      margin-right: $gutter / 2;

      &-input {
        border: 1px solid $light-grey-color;
        border-radius: 2px;
        font-size: 1rem;
        font-family: inherit;
        padding: $margin-xs $gutter / 2;
        width: 100%;
        line-height: 1.5rem;
      }

      &-submit {
        background: {
          image: url('/img/search.svg');
          color: transparent;
          size: 2rem;
          repeat: no-repeat;
          position: center;
        }
        border: 0;
        cursor: pointer;
        position: absolute;
        height: 40px;
        width: 40px;

        right: 1px;
        top: 1px;
      }
    }

    &-menu {
      margin-right: $gutter * 1.5;
    }


    &-phone {
      margin-left: auto;
    }
  }
}