@import 'components/reset';
@import 'components/layout';
@import 'components/breakpoint';

$primary-color: #212121;
$background-color: #f1f1f1;
$light-color: #ffffff;

$primary-grey-color: #666666;
$dark-grey-color: #333;
$light-grey-color: #e0e0e0;

$base-font-size: 3.5;
$base-rhythm-line: 0.25rem;
$base-line-height: 7;

$base-rhythm: $base-rhythm-line * $base-line-height;

$gutter: 1.25rem;

$s: 48rem;
$m: 60rem;
$mm: 78rem;
$l: 100rem;

@import 'components/fonts';

* {
  box-sizing: border-box;
}

body {
  color: $primary-color;
  background-color: $background-color;
  font-family: 'proxima-nova', sans-serif;
  font-weight: 300;

  @include font-size;
}

$margin-xs: $base-rhythm-line * 2;
$margin-s: $base-rhythm-line * 4;
$margin-m: $base-rhythm * 1;
$margin-l: $base-rhythm-line * 9;

@import 'pages/products';
@import 'pages/sections';
@import 'pages/pages';

@import 'header';
@import 'footer';

.main {
  padding-top: $header-size;

  @include breakpoint($s) {
    padding-top: $header-size-medium;
  }
}

a {
  border-bottom: 1px solid rgba($primary-color, 0.3);
  color: $primary-color;
  text-decoration: none;
  transition-duration: 0.25s;
  transition-property: background, color;
}

.button {
  @include font-upper;

  background-color: $dark-grey-color;
  color: $light-color;
  display: inline-block;
  border-bottom: 0;
  padding: $margin-xs $gutter;
  transition-duration: 0.25s;
  transition-property: background, color;

  &:hover {
    background-color: #000;
  }

}


