.image {
  position:relative;
  background-image: url('../../images/logo/top_s.jpg');
  height: 360px;
  width: 100%;
  background-size: cover;
  background-color: #666666;
  background-repeat: no-repeat;
  background-position: center top;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: 0.2;
  }

  @media(--s) {
    background-image: url('../../images/logo/top_m.jpg');
    background-position: center 50%;
  }
}
