html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1 {
  letter-spacing: 0.12em;
  text-transform: uppercase; }
  @media (min-width: 48rem) {
    h1 {
      font-size: 2.125rem;
      line-height: 2.5rem; } }

h2 {
  letter-spacing: 0.12em;
  text-transform: uppercase; }
  @media (min-width: 48rem) {
    h2 {
      font-size: 1.5rem;
      line-height: 2rem; } }

* {
  box-sizing: border-box; }

body {
  color: #212121;
  background-color: #f1f1f1;
  font-family: 'proxima-nova', sans-serif;
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1.75rem; }

.product-sections {
  padding: 2.25rem 1.25rem 0; }
  .product-sections-root {
    letter-spacing: 0.12em;
    text-transform: uppercase;
    margin-bottom: 1.75rem; }
    @media (min-width: 48rem) {
      .product-sections-root {
        font-size: 1.5rem;
        line-height: 2rem; } }
  .product-sections-siblings {
    margin-bottom: 1.45rem; }
  .product-sections-breadcrumb {
    border-top: 1px solid #e0e0e0;
    padding: 0.875rem 0; }

.product-images {
  display: -ms-flexbox;
  display: flex;
  padding: 0 1.25rem; }
  .product-images-item {
    max-width: 200px; }
    .product-images-item img {
      display: block;
      width: 100%; }

.product-details {
  padding: 0 1.25rem; }

@media (min-width: 60rem) {
  .product {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .product-sections {
      width: 100%; }
    .product-images, .product-details {
      width: 50%; } }

.breadcrumb {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .breadcrumb-item {
    margin-right: 0.3em; }
    .breadcrumb-item a {
      color: #666666; }
    .breadcrumb-item:not(:last-child):after {
      content: '/';
      color: rgba(33, 33, 33, 0.3); }

.siblings {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .siblings-item {
    margin-right: 0.3rem;
    margin-bottom: 0.3rem; }
    .siblings-item a {
      display: block;
      background-color: #ffffff;
      border-bottom: 0;
      border-radius: 2px;
      color: #212121;
      padding: 0 0.5em; }
      .siblings-item a:hover {
        background-color: #333;
        color: #ffffff; }

.products-list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -0.625rem;
  margin-right: -0.625rem; }
  .products-list-item {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding: 0 0.625rem;
    margin-bottom: 1.75rem;
    width: 50%; }
    .products-list-item a {
      border-bottom: 0;
      display: block;
      width: 100%; }
      .products-list-item a .image {
        position: relative;
        background-color: white;
        margin-bottom: 0.5rem; }
        .products-list-item a .image:before {
          display: block;
          content: "";
          width: 100%;
          padding-top: 125%; }
        .products-list-item a .image > img, .products-list-item a .image > svg, .products-list-item a .image > video, .products-list-item a .image > iframe {
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0; }
        .products-list-item a .image .img {
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          left: 8%;
          right: 8%;
          top: 8%;
          bottom: 8%;
          position: absolute; }
      .products-list-item a .tap .title {
        max-height: 3.5rem;
        overflow: hidden;
        font-weight: 600; }
      .products-list-item a .tap .price {
        font-size: 1rem; }
  @media (min-width: 48rem) {
    .products-list-item {
      width: 25%; } }
  @media (min-width: 78rem) {
    .products-list-item {
      width: 16.66667%; } }

.section {
  padding: 0 1.25rem;
  margin-bottom: 4.5rem; }
  .section-intro {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 2.25rem 1.25rem 1.45rem;
    position: relative;
    width: 100%; }
    .section-intro .text {
      margin-top: auto;
      position: relative;
      z-index: 1; }
      .section-intro .text .title a {
        letter-spacing: 0.12em;
        text-transform: uppercase;
        border-bottom: 0; }
        @media (min-width: 48rem) {
          .section-intro .text .title a {
            font-size: 1.5rem;
            line-height: 2rem; } }
      .section-intro .text .siblings {
        display: none;
        margin-top: 1.75rem; }
        .section-intro .text .siblings a {
          background-color: rgba(255, 255, 255, 0.9); }
          .section-intro .text .siblings a:hover {
            background-color: #333; }
        @media (min-width: 48rem) {
          .section-intro .text .siblings {
            display: -ms-flexbox;
            display: flex; } }
    .section-intro-root1 {
      background-color: #666666;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center top;
      height: 360px;
      padding: 1.45rem 1.25rem; }
      .section-intro-root1 .text .title {
        color: #ffffff; }
        .section-intro-root1 .text .title a {
          color: #ffffff; }
          @media (min-width: 48rem) {
            .section-intro-root1 .text .title a {
              font-size: 2.125rem;
              line-height: 2.5rem; } }
      .section-intro-root1:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #000;
        opacity: 0.2; }
    .section-intro-114 {
      background-image: url("/img/secs/sec114_1920.jpg"); }
    .section-intro-159 {
      background-image: url("/img/secs/sec159_1920.jpg");
      background-position: center 75%; }
    .section-intro-168 {
      background-image: url("/img/secs/sec168_1920.jpg");
      background-position: center 50%; }
    .section-intro-177 {
      background-image: url("/img/secs/sec177_1920.jpg");
      background-position: center 40%; }
  .section-filters {
    background-color: #e0e0e0;
    padding: 0.875rem 1.25rem; }
  .section-sections-item {
    margin-top: 3.5rem; }
    .section-sections-item-title {
      margin-bottom: 1.75rem; }
      .section-sections-item-title a {
        border-bottom: 0; }
    .section-sections-item-siblings {
      margin-bottom: 1.45rem; }
    .section-sections-item-products {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .section-sections-item-products-main {
        -ms-flex-order: 1;
        order: 1;
        padding-right: 0.625rem;
        width: 50%; }
        .section-sections-item-products-main a {
          display: block;
          border-bottom: 0; }
          .section-sections-item-products-main a .image {
            position: relative;
            background-color: white;
            margin-bottom: 0.5rem; }
            .section-sections-item-products-main a .image:before {
              display: block;
              content: "";
              width: 100%;
              padding-top: 125%; }
            .section-sections-item-products-main a .image > img, .section-sections-item-products-main a .image > svg, .section-sections-item-products-main a .image > video, .section-sections-item-products-main a .image > iframe {
              display: block;
              width: 100%;
              height: 100%;
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0; }
            .section-sections-item-products-main a .image .img {
              background-repeat: no-repeat;
              background-position: center;
              background-size: contain;
              left: 8%;
              right: 8%;
              top: 8%;
              bottom: 8%;
              position: absolute; }
          .section-sections-item-products-main a .tap .title {
            max-height: 3.5rem;
            overflow: hidden;
            font-weight: 600; }
          .section-sections-item-products-main a .tap .price {
            font-size: 1rem; }
      .section-sections-item-products-list {
        width: 100%; }
      @media (min-width: 48rem) {
        .section-sections-item-products-main {
          padding-right: 0.83333rem;
          width: 25%; } }
      @media (min-width: 60rem) {
        .section-sections-item-products-main {
          padding-right: 1.25rem;
          width: 33.33333%;
          -ms-flex-order: 0;
          order: 0; }
        .section-sections-item-products-list {
          width: 66.66667%; } }
      @media (min-width: 78rem) {
        .section-sections-item-products .products-list-item {
          width: 25%; } }
    .section-sections-item-more {
      text-align: right; }
      .section-sections-item-more .button {
        padding-left: 3.75rem;
        padding-right: 3.75rem; }
    @media (min-width: 60rem) {
      .section-sections-item:nth-child(even) .section-sections-item-products-main {
        padding-right: 0;
        padding-left: 1.25rem;
        -ms-flex-order: 1;
        order: 1; } }
  .section-products {
    margin-top: 2.25rem; }

.page-static {
  padding: 2.25rem 1.25rem; }

.header {
  background: #ffffff;
  display: -ms-flexbox;
  display: flex;
  height: 3rem;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 5; }
  .header a {
    border-bottom: 0; }
  .header-burger .burger {
    padding: 19px 1.25rem 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer; }
    .header-burger .burger-line {
      background: #666666;
      height: 1px;
      width: 1.25rem;
      margin-bottom: 4px; }
      .header-burger .burger-line:last-child {
        margin-bottom: 0; }
  .header-logo a {
    display: block;
    padding: 0.5rem 0;
    height: 3rem; }
    .header-logo a img {
      display: block;
      height: 100%; }
  .header-bag {
    margin-right: 0.625rem; }
    .header-bag .bag {
      background-image: url("/img/bag.svg");
      background-size: 2rem;
      background-repeat: no-repeat;
      background-position: center;
      display: block;
      height: 3rem;
      width: 3rem; }
  .header-search-icon {
    margin-left: auto; }
    .header-search-icon .search {
      background-image: url("/img/search.svg");
      background-size: 2rem;
      background-repeat: no-repeat;
      background-position: center;
      display: block;
      height: 3rem;
      width: 3rem; }
  .header-phone {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    display: none; }
  .header-search {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    display: none; }
  .header-menu {
    display: none; }
  @media (min-width: 48rem) {
    .header {
      height: 5rem; }
      .header-logo a {
        height: 5rem;
        padding: 1rem 0; }
      .header-phone {
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
        display: block;
        margin: 0 1.25rem 0 auto;
        font-size: 1.25rem;
        line-height: 3rem; }
      .header-search-icon {
        margin-left: 0; }
      .header-burger, .header-search-icon, .header-bag, .header-phone {
        padding: 1rem 0; } }
  @media (min-width: 78rem) {
    .header-menu {
      display: -ms-flexbox;
      display: flex;
      font-size: 0.875rem;
      padding: 2.25rem 0;
      margin-left: 1.25rem;
      text-transform: uppercase; }
      .header-menu-item {
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
        margin-right: 1.25rem; }
    .header-burger {
      display: none; }
    .header-logo {
      margin-left: 1.25rem; }
    .header-phone {
      font-size: 1rem; } }
  @media (min-width: 86rem) {
    .header-menu {
      letter-spacing: 0.12em; }
    .header-phone {
      font-size: 1.25rem; } }
  @media (min-width: 100rem) {
    .header-search-icon {
      display: none; }
    .header-search {
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
      display: block;
      -ms-flex-positive: 1;
      flex-grow: 1;
      max-width: 18rem;
      position: relative;
      margin-right: 0.625rem; }
      .header-search-input {
        border: 1px solid #e0e0e0;
        border-radius: 2px;
        font-size: 1rem;
        font-family: inherit;
        padding: 0.5rem 0.625rem;
        width: 100%;
        line-height: 1.5rem; }
      .header-search-submit {
        background-image: url("images/search.svg");
        background-color: transparent;
        background-size: 2rem;
        background-repeat: no-repeat;
        background-position: center;
        border: 0;
        cursor: pointer;
        position: absolute;
        height: 40px;
        width: 40px;
        right: 1px;
        top: 1px; }
    .header-menu {
      margin-right: 1.875rem; }
    .header-phone {
      margin-left: auto; } }

.footer {
  background: #333;
  padding: 1.75rem 1.25rem; }
  .footer-menu {
    margin-bottom: 2.25rem;
    text-transform: uppercase;
    letter-spacing: 0.12em; }
    .footer-menu-item {
      margin-bottom: 1.75rem; }
      .footer-menu-item:last-child {
        margin-bottom: 0; }
  .footer a {
    color: #ffffff; }
  @media (min-width: 48rem) {
    .footer {
      display: -ms-flexbox;
      display: flex; }
      .footer-like {
        margin-left: auto; }
      .footer-menu {
        margin-bottom: 0;
        display: -ms-flexbox;
        display: flex; }
        .footer-menu-item {
          margin: 0 1em 0 0; } }

.main {
  padding-top: 3rem; }
  @media (min-width: 48rem) {
    .main {
      padding-top: 5rem; } }

a {
  border-bottom: 1px solid rgba(33, 33, 33, 0.3);
  color: #212121;
  text-decoration: none;
  transition-duration: 0.25s;
  transition-property: background, color; }

.button {
  letter-spacing: 0.12em;
  text-transform: uppercase;
  background-color: #333;
  color: #ffffff;
  display: inline-block;
  border-bottom: 0;
  padding: 0.5rem 1.25rem;
  transition-duration: 0.25s;
  transition-property: background, color; }
  .button:hover {
    background-color: #000; }
