@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1 {
  font-size: 1.75rem;
  line-height: 2rem;
  letter-spacing: 0.12em;
  text-transform: uppercase; }
  @media (min-width: 48rem) {
    h1 {
      font-size: 2.125rem;
      line-height: 2.5rem; } }

h2 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  letter-spacing: 0.12em;
  text-transform: uppercase; }
  @media (min-width: 48rem) {
    h2 {
      font-size: 1.5rem;
      line-height: 2rem; } }

/** RESET AND LAYOUT
===================================*/
.bx-wrapper {
  position: relative;
  padding: 0;
  *zoom: 1; }
  .bx-wrapper img {
    max-width: 100%;
    display: block; }

/** THEME
===================================*/
.bx-wrapper .bx-viewport {
  transform: translatez(0); }

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: -30px;
  width: 100%; }

/* LOADER */
.bx-wrapper .bx-loading {
  min-height: 50px;
  background: url(/img/bx_loader.gif) center center no-repeat #fff;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000; }

/* PAGER */
.bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  padding-top: 20px; }

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  *zoom: 1;
  *display: inline; }

.bx-wrapper .bx-pager.bx-default-pager a {
  background: #666;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  border-radius: 5px; }

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #000; }

/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper .bx-prev {
  left: 1.25rem; }

.bx-wrapper .bx-next {
  right: 1.25rem; }

.bx-wrapper .bx-prev:hover {
  background-position: 0 0; }

.bx-wrapper .bx-next:hover {
  background-position: -43px 0; }

.bx-wrapper .bx-controls-direction a {
  border-bottom: 0;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  outline: 0;
  z-index: 5;
  border: 1px solid #e0e0e0;
  transition: 0.3s border-color;
  margin-top: -24px;
  width: 48px;
  height: 48px; }
  .bx-wrapper .bx-controls-direction a svg {
    height: 46px;
    width: 46px; }
    .bx-wrapper .bx-controls-direction a svg polyline {
      fill: none;
      stroke: #333;
      stroke-linecap: round;
      stroke-miterlimit: 10; }
  .bx-wrapper .bx-controls-direction a:hover {
    border-color: #333; }
  @media (min-width: 48rem) {
    .bx-wrapper .bx-controls-direction a {
      margin-top: -31px;
      width: 62px;
      height: 62px; }
      .bx-wrapper .bx-controls-direction a svg {
        height: 60px;
        width: 60px; } }

.bx-wrapper .bx-controls-direction a.disabled {
  display: none; }

/* AUTO CONTROLS (START / STOP) */
.bx-wrapper .bx-controls-auto {
  text-align: center; }

.bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 11px;
  outline: 0;
  background: url(images/controls.png) -86px -11px no-repeat;
  margin: 0 3px; }

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
  background-position: -86px 0; }

.bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  text-indent: -9999px;
  width: 9px;
  height: 11px;
  outline: 0;
  background: url(images/controls.png) -86px -44px no-repeat;
  margin: 0 3px; }

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
  background-position: -86px -33px; }

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%; }

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px; }

/* IMAGE CAPTIONS */
.bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666\9;
  background: rgba(80, 80, 80, 0.75);
  width: 100%; }

.bx-wrapper .bx-caption span {
  color: #fff;
  font-family: Arial;
  display: block;
  font-size: .85em;
  padding: 10px; }

.mobile-nav {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 280px;
  padding: 5.25rem 1.25rem 1.75rem;
  z-index: 4;
  background-color: #ffffff;
  transition: 0.4s transform;
  transform: translateX(-110%);
  z-index: 8; }
  .mobile-nav-menu {
    letter-spacing: 0.12em;
    text-transform: uppercase; }
    .mobile-nav-menu-item {
      border-bottom: 1px solid #e0e0e0; }
      .mobile-nav-menu-item a {
        display: block;
        border-bottom: 0;
        padding: 0.5rem 0; }
    .mobile-nav-menu-sep {
      margin-bottom: 2.25rem; }

html.openburger {
  overflow: hidden; }
  html.openburger body {
    height: 100%;
    overflow: hidden; }
  html.openburger .shadow {
    display: block; }
  html.openburger .mobile-nav {
    transform: translateX(0); }

.shadow {
  content: '';
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 7;
  display: none; }

* {
  box-sizing: border-box; }

body {
  color: #212121;
  background-color: #f1f1f1;
  font-family: 'proxima-nova', sans-serif;
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1.75rem; }

.product {
  padding-bottom: 1.75rem; }
  .product-sections {
    padding: 1.75rem 1.25rem 0; }
    .product-sections-root {
      font-size: 1.25rem;
      line-height: 1.75rem;
      letter-spacing: 0.12em;
      text-transform: uppercase;
      margin-bottom: 1.75rem; }
      @media (min-width: 48rem) {
        .product-sections-root {
          font-size: 1.5rem;
          line-height: 2rem; } }
    .product-sections-siblings {
      margin-bottom: 1rem; }
    .product-sections-breadcrumb {
      border-top: 1px solid #e0e0e0;
      padding: 1rem 0; }
  .product-images {
    padding: 0 1.25rem;
    margin-bottom: 2.25rem; }
    .product-images .slider {
      width: 100%; }
      .product-images .slider-wrapper {
        overflow: hidden;
        background-color: #fff; }
      .product-images .slider-images {
        height: 100%;
        position: absolute;
        width: 100%;
        left: 0;
        top: 0; }
        .product-images .slider-images-item {
          position: relative;
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center; }
          .product-images .slider-images-item:before {
            display: block;
            content: "";
            width: 100%;
            padding-top: 125%; }
          .product-images .slider-images-item > img, .product-images .slider-images-item > svg, .product-images .slider-images-item > video, .product-images .slider-images-item > iframe, .product-images .slider-images-item > div.ar {
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0; }
    .product-images .thumbs {
      display: none;
      margin: 0.625rem -0.625rem 0; }
      .product-images .thumbs a {
        border-bottom: 0;
        display: block;
        padding: 0.625rem; }
        .product-images .thumbs a:last-child {
          margin-right: 0; }
      .product-images .thumbs-item {
        position: relative;
        border: 1px solid #fff;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        display: block;
        width: 100%; }
        .product-images .thumbs-item:before {
          display: block;
          content: "";
          width: 100%;
          padding-top: 125%; }
        .product-images .thumbs-item > img, .product-images .thumbs-item > svg, .product-images .thumbs-item > video, .product-images .thumbs-item > iframe, .product-images .thumbs-item > div.ar {
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0; }
      @media (min-width: 48rem) {
        .product-images .thumbs {
          display: -ms-flexbox;
          display: flex;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
          .product-images .thumbs > a {
            width: 33.33333%; } }
  .product-details {
    padding: 0 1.25rem;
    margin-bottom: 2.25rem; }
    .product-details h1 {
      margin-bottom: 1.75rem; }
    .product-details .desc {
      margin-bottom: 1.75rem; }
    .product-details .prop {
      margin-bottom: 1.75rem;
      border-top: 1px solid #e0e0e0;
      max-width: 48rem; }
      @media (min-width: 48rem) {
        .product-details .prop {
          margin-right: 8.33333%; } }
      .product-details .prop-row {
        display: -ms-flexbox;
        display: flex;
        padding: 0.5rem 0;
        border-bottom: 1px solid #e0e0e0; }
        .product-details .prop-row > div {
          width: 50%; }
      .product-details .prop-label {
        letter-spacing: 0.12em;
        text-transform: uppercase;
        padding-right: 0.625rem;
        max-width: 280px; }
      .product-details .prop-value {
        padding-left: 0.625rem; }
    .product-details .sizes {
      border-bottom: 1px solid #212121;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      padding-bottom: 1rem;
      margin-bottom: 1.75rem; }
      .product-details .sizes-clear {
        visibility: hidden;
        opacity: 0;
        transition: 0.23s opacity; }
        .product-details .sizes-clear.act {
          opacity: 1;
          visibility: visible; }
        .product-details .sizes-clear span {
          border-bottom: 1px dashed #212121;
          cursor: pointer; }
      .product-details .sizes-label {
        letter-spacing: 0.12em;
        text-transform: uppercase;
        width: 100%; }
      .product-details .sizes-left, .product-details .sizes-right {
        width: 100%;
        max-width: 280px; }
      .product-details .sizes-row {
        display: -ms-flexbox;
        display: flex;
        margin-bottom: 0.5rem; }
        .product-details .sizes-row > * {
          -ms-flex-negative: 0;
          flex-shrink: 0; }
        .product-details .sizes-row-size {
          width: 6.5rem; }
        .product-details .sizes-row-minus, .product-details .sizes-row-plus {
          cursor: pointer;
          width: 1.75rem;
          border: 1px solid #e0e0e0;
          margin-right: 1px;
          background-color: #fff;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          transition-duration: 0.3s;
          transition-property: background, border;
          position: relative;
          user-select: none; }
          .product-details .sizes-row-minus:after, .product-details .sizes-row-plus:after {
            font-size: 1rem;
            position: absolute;
            content: '-';
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%); }
          .product-details .sizes-row-minus:hover, .product-details .sizes-row-plus:hover {
            background-color: #212121; }
            .product-details .sizes-row-minus:hover:after, .product-details .sizes-row-plus:hover:after {
              color: #ffffff; }
        .product-details .sizes-row-plus:after {
          content: '+'; }
        .product-details .sizes-row-input {
          width: 2.625rem;
          line-height: 1.625rem;
          margin-right: 1px; }
          .product-details .sizes-row-input input {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            font-family: inherit;
            font-size: 1rem;
            height: 1.75rem;
            border: 1px solid #e0e0e0;
            background-color: #fff;
            line-height: inherit;
            padding: 0;
            width: 100%;
            outline: none;
            text-align: center; }
    .product-details .order {
      margin-bottom: 1rem; }
      .product-details .order-price {
        margin-bottom: 1rem;
        max-width: 280px;
        margin-right: 1.25rem; }
        .product-details .order-price .price {
          font-size: 1.5rem;
          line-height: 1.75rem; }
        .product-details .order-price .po {
          display: none; }
        .product-details .order-price.r2o .po {
          display: block; }
        .product-details .order-price.r2o .ppi {
          display: none; }
      .product-details .order-to-basket .button {
        padding: 0.875rem 2.5rem; }
    .product-details .msg {
      opacity: 0;
      visibility: hidden;
      min-height: 3.5rem;
      transition: 0.2s opacity;
      font-weight: 600; }
      .product-details .msg.act {
        color: red;
        opacity: 1;
        visibility: visible; }
      .product-details .msg.suc {
        color: green;
        opacity: 1;
        visibility: visible; }
    @media (min-width: 48rem) {
      .product-details .sizes-left, .product-details .sizes-right {
        width: 50%; }
      .product-details .sizes-left {
        padding-right: 0.625rem; }
      .product-details .sizes-right {
        padding-left: 0.625rem; }
      .product-details .order {
        display: -ms-flexbox;
        display: flex; }
        .product-details .order-price {
          -ms-flex-positive: 1;
          flex-grow: 1;
          margin-bottom: 0; }
      .product-details .desc, .product-details .sizes, .product-details .order, .product-details .prop {
        max-width: 48rem; } }
  @media (min-width: 48rem) and (min-width: 48rem) {
    .product-details .desc, .product-details .sizes, .product-details .order, .product-details .prop {
      margin-right: 8.33333%; } }
    @media (min-width: 78rem) {
      .product-details {
        font-size: 1rem;
        line-height: 1.75rem; }
        .product-details .prop-value {
          font-size: 0.875rem;
          line-height: 1.75rem; }
        .product-details .sizes-row-size {
          width: 8rem; } }
  .product-assoc {
    padding: 0 1.25rem;
    width: 100%;
    margin-bottom: 1.75rem; }
    .product-assoc-title {
      margin-bottom: 1.75rem;
      text-align: center;
      font-size: 1.25rem;
      line-height: 1.75rem;
      letter-spacing: 0.12em;
      text-transform: uppercase; }
      @media (min-width: 48rem) {
        .product-assoc-title {
          font-size: 1.5rem;
          line-height: 2rem; } }
  @media (min-width: 60rem) {
    .product {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .product-sections {
        width: 100%; }
      .product-images, .product-details {
        width: 50%;
        margin-bottom: 3.5rem; } }
  @media (min-width: 78rem) {
    .product-details {
      width: 45.83333%;
      margin-left: 4.16667%; } }

.breadcrumb {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .breadcrumb-item {
    margin-right: 0.3em; }
    .breadcrumb-item a {
      color: #666666; }
    .breadcrumb-item:not(:last-child):after {
      content: '/';
      color: rgba(33, 33, 33, 0.3); }

.siblings {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .siblings-item {
    margin-right: 0.3125rem;
    margin-bottom: 0.3125rem;
    white-space: nowrap;
    overflow: hidden; }
    .siblings-item a {
      display: block;
      background-color: #ffffff;
      border-bottom: 0;
      border-radius: 2px;
      color: #212121;
      padding: 0 0.5em; }
      .siblings-item a:hover {
        background-color: #333;
        color: #ffffff; }
    .siblings-item.active a {
      background-color: #333;
      color: #ffffff; }

.products-list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -0.625rem;
  margin-right: -0.625rem; }
  .products-list-item {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding: 0 0.625rem;
    margin-bottom: 1.75rem;
    width: 50%; }
    .products-list-item a {
      border-bottom: 0;
      display: block;
      width: 100%; }
      .products-list-item a .image {
        position: relative; }
        .products-list-item a .image:before {
          display: block;
          content: "";
          width: 100%;
          padding-top: 125%; }
        .products-list-item a .image > img, .products-list-item a .image > svg, .products-list-item a .image > video, .products-list-item a .image > iframe, .products-list-item a .image > div.ar {
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0; }
        .products-list-item a .image .img {
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          position: absolute;
          display: block;
          width: 100%;
          height: 100%; }
          .products-list-item a .image .img.lazy {
            z-index: 2; }
      .products-list-item a .iandb {
        position: relative;
        overflow: hidden;
        background-color: white;
        margin-bottom: 0.5rem; }
        .products-list-item a .iandb .buy {
          letter-spacing: 0.12em;
          text-transform: uppercase;
          font-weight: 600;
          left: 1.25rem;
          bottom: 1rem;
          opacity: 0;
          position: absolute;
          z-index: 2;
          transform: translate(0, 60%);
          transition: 0.4s transform, 0.4s opacity; }
      .products-list-item a .tap .title {
        max-height: 3.5rem;
        overflow: hidden;
        font-weight: 600;
        line-height: 1.25rem;
        margin-bottom: 0.5rem; }
        @media (min-width: 100rem) {
          .products-list-item a .tap .title {
            padding-right: 1.25rem; } }
      .products-list-item a .tap .price {
        font-size: 1rem; }
      .products-list-item a:hover .iandb .buy {
        transform: translate(0, 0);
        opacity: 1; }
  @media (min-width: 48rem) {
    .products-list-item {
      width: 25%; } }
  @media (min-width: 78rem) {
    .products-list-item {
      width: 16.66667%; } }

.section {
  padding: 0 1.25rem;
  margin-bottom: 4.5rem; }
  .section-intro {
    position: relative; }
    .section-intro-wrapper {
      position: relative;
      width: 100%;
      z-index: 3; }
      .section-intro-wrapper-root1 .section-intro {
        background-color: #666666;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center top;
        height: 360px; }
        .section-intro-wrapper-root1 .section-intro:after {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background-color: #000;
          opacity: 0.2; }
        .section-intro-wrapper-root1 .section-intro-text .title {
          font-size: 1.75rem;
          line-height: 2rem;
          margin-top: -4rem;
          height: 4rem;
          padding: 0 1.25rem;
          color: #ffffff; }
          @media (min-width: 48rem) {
            .section-intro-wrapper-root1 .section-intro-text .title {
              font-size: 2.125rem;
              line-height: 2.5rem; } }
          .section-intro-wrapper-root1 .section-intro-text .title a {
            color: #ffffff; }
    .section-intro-text {
      position: relative;
      z-index: 1; }
      .section-intro-text .title {
        font-size: 1.25rem;
        line-height: 1.75rem;
        letter-spacing: 0.12em;
        text-transform: uppercase;
        padding: 1.75rem 1.25rem 0.75rem; }
        @media (min-width: 48rem) {
          .section-intro-text .title {
            font-size: 1.5rem;
            line-height: 2rem; } }
        .section-intro-text .title a {
          border-bottom: 0; }
      .section-intro-text .sibfil {
        width: 100%;
        transition: 0.3s background-color; }
        .section-intro-text .sibfil.abs {
          position: absolute;
          bottom: 0;
          left: 0; }
        .section-intro-text .sibfil .siblings {
          display: block;
          background-color: #333; }
          .section-intro-text .sibfil .siblings-item {
            margin: 0;
            display: none; }
          .section-intro-text .sibfil .siblings-title {
            padding: 0.5rem 1.25rem;
            color: #ffffff; }
          @media (min-width: 48rem) {
            .section-intro-text .sibfil .siblings {
              display: -ms-flexbox;
              display: flex;
              background-color: transparent;
              padding: 1rem 1.25rem 0.6875rem; }
              .section-intro-text .sibfil .siblings-title {
                display: none; }
              .section-intro-text .sibfil .siblings-item {
                display: block;
                margin-right: 0.3125rem;
                margin-bottom: 0.3125rem; } }
        .section-intro-text .sibfil.sticky {
          position: fixed;
          bottom: auto;
          top: 3rem;
          background-color: #f1f1f1;
          z-index: 3; }
          @media (min-width: 48rem) {
            .section-intro-text .sibfil.sticky {
              top: 5rem; } }
    .section-intro-filters {
      background-color: #e0e0e0;
      padding: 0.5rem 1.25rem; }
      @media (min-width: 60rem) {
        .section-intro-filters {
          padding: 1rem 1.25rem; } }
    .section-intro-114 {
      background-image: url("/img/pages/catalog/sec114_s.jpg"); }
      @media (min-width: 48rem) {
        .section-intro-114 {
          background-image: url("/img/pages/catalog/sec114_m.jpg"); } }
    .section-intro-159 {
      background-image: url("/img/pages/catalog/sec159_s.jpg"); }
      @media (min-width: 48rem) {
        .section-intro-159 {
          background-image: url("/img/pages/catalog/sec159_m.jpg");
          background-position: center 80% !important; } }
    .section-intro-168 {
      background-image: url("/img/pages/catalog/sec168_s.jpg"); }
      @media (min-width: 48rem) {
        .section-intro-168 {
          background-image: url("/img/pages/catalog/sec168_m.jpg");
          background-position: center 20% !important; } }
    .section-intro-177 {
      background-image: url("/img/pages/catalog/sec177_s.jpg"); }
      @media (min-width: 48rem) {
        .section-intro-177 {
          background-image: url("/img/pages/catalog/sec177_m.jpg");
          background-position: center 20% !important; } }
    .section-intro-about {
      background-image: url("/img/pages/about/top.jpg"); }
    .section-intro-contacts {
      background-image: url("/img/pages/contacts/top.jpg"); }
  .section-sections-item {
    margin-top: 3.5rem; }
    .section-sections-item-title {
      margin-bottom: 1.75rem; }
      .section-sections-item-title a {
        border-bottom: 0; }
    .section-sections-item-siblings {
      margin-bottom: 1.4375rem; }
    .section-sections-item-products {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .section-sections-item-products-main {
        display: none;
        -ms-flex-order: 1;
        order: 1;
        padding-right: 0.625rem;
        width: 50%; }
        .section-sections-item-products-main a {
          display: block;
          border-bottom: 0; }
          .section-sections-item-products-main a .image {
            position: relative; }
            .section-sections-item-products-main a .image:before {
              display: block;
              content: "";
              width: 100%;
              padding-top: 125%; }
            .section-sections-item-products-main a .image > img, .section-sections-item-products-main a .image > svg, .section-sections-item-products-main a .image > video, .section-sections-item-products-main a .image > iframe, .section-sections-item-products-main a .image > div.ar {
              display: block;
              width: 100%;
              height: 100%;
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0; }
            .section-sections-item-products-main a .image .img {
              left: 0;
              right: 0;
              top: 0;
              bottom: 0;
              position: absolute;
              display: block;
              width: 100%;
              height: 100%; }
              .section-sections-item-products-main a .image .img.lazy {
                z-index: 2; }
          .section-sections-item-products-main a .iandb {
            position: relative;
            overflow: hidden;
            background-color: white;
            margin-bottom: 0.5rem; }
            .section-sections-item-products-main a .iandb .buy {
              letter-spacing: 0.12em;
              text-transform: uppercase;
              font-weight: 600;
              left: 1.25rem;
              bottom: 1rem;
              opacity: 0;
              position: absolute;
              z-index: 2;
              transform: translate(0, 60%);
              transition: 0.4s transform, 0.4s opacity; }
          .section-sections-item-products-main a .tap .title {
            max-height: 3.5rem;
            overflow: hidden;
            font-weight: 600; }
          .section-sections-item-products-main a .tap .price {
            font-size: 1rem; }
          .section-sections-item-products-main a:hover .iandb .buy {
            transform: translate(0, 0);
            opacity: 1; }
      .section-sections-item-products-list {
        width: 100%; }
      @media (min-width: 48rem) {
        .section-sections-item-products-main {
          padding-right: 0.83333rem;
          width: 25%; } }
      @media (min-width: 60rem) {
        .section-sections-item-products-main {
          display: block;
          padding-right: 1.25rem;
          width: 33.33333%;
          -ms-flex-order: 0;
          order: 0; }
        .section-sections-item-products-list {
          width: 66.66667%; } }
      @media (min-width: 78rem) {
        .section-sections-item-products .products-list-item {
          width: 25%; } }
    .section-sections-item-more {
      text-align: center;
      margin-top: 1.75rem; }
      .section-sections-item-more .button {
        padding-left: 3.75rem;
        padding-right: 3.75rem;
        width: 100%; }
      @media (min-width: 25rem) {
        .section-sections-item-more .button {
          width: auto; } }
      @media (min-width: 48rem) {
        .section-sections-item-more {
          margin-top: 0; }
          .section-sections-item-more .button {
            width: auto; } }
    @media (min-width: 60rem) {
      .section-sections-item:nth-child(even) .section-sections-item-products-main {
        padding-right: 0;
        padding-left: 1.25rem;
        -ms-flex-order: 1;
        order: 1; } }
  .section-products {
    margin-top: 2.25rem; }

.page-static {
  padding: 2.25rem 1.25rem;
  max-width: 60rem;
  margin: auto; }

.page-content h1, .page-content h2, .page-content h3 {
  margin-bottom: 1.75rem; }

.page-content p {
  margin-bottom: 1.75rem; }
  .page-content p:last-child {
    margin-bottom: 0; }

.page-content ul {
  margin-bottom: 1rem;
  margin-top: -0.875rem; }
  .page-content ul li {
    padding-left: 1.4rem;
    margin-bottom: 0.5rem; }
    .page-content ul li:before {
      content: '—';
      display: block;
      float: left;
      margin-left: -1.4rem;
      width: 1.4rem; }

@media (min-width: 48rem) {
  .page-404 {
    font-size: 1.25rem;
    line-height: 2rem; } }

.map-ar {
  position: relative; }
  .map-ar:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 125%; }
  .map-ar > img, .map-ar > svg, .map-ar > video, .map-ar > iframe, .map-ar > div.ar {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  @media (min-width: 48rem) {
    .map-ar:before {
      padding-top: 56.25%; } }

.header {
  background: #ffffff;
  display: -ms-flexbox;
  display: flex;
  height: 3rem;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 9; }
  .header a {
    border-bottom: 0; }
  .header-burger .burger {
    padding: 19px 1.25rem 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer; }
    .header-burger .burger-line {
      background: #666666;
      height: 1px;
      width: 1.25rem;
      margin-bottom: 4px; }
      .header-burger .burger-line:last-child {
        margin-bottom: 0; }
  .header-logo a {
    display: block;
    padding: 0.5rem 0;
    height: 3rem; }
    .header-logo a img {
      display: block;
      height: 100%; }
  .header-bag {
    margin-right: 0.625rem; }
    .header-bag .bag {
      display: block;
      height: 3rem;
      width: 3rem;
      padding: 0.5rem; }
      .header-bag .bag svg {
        width: 2rem;
        height: 2rem; }
        .header-bag .bag svg .cnt {
          opacity: 0; }
          .header-bag .bag svg .cnt-act {
            opacity: 1; }
        .header-bag .bag svg .a, .header-bag .bag svg .b, .header-bag .bag svg .c, .header-bag .bag svg .e {
          fill: none; }
        .header-bag .bag svg .a, .header-bag .bag svg .b, .header-bag .bag svg .c {
          stroke: #8f8f8f; }
        .header-bag .bag svg .a {
          stroke-linecap: round; }
        .header-bag .bag svg .a, .header-bag .bag svg .c {
          stroke-linejoin: round; }
        .header-bag .bag svg .b {
          stroke-miterlimit: 10; }
        .header-bag .bag svg .d {
          fill: #ef4438; }
        .header-bag .bag svg .f {
          text-anchor: middle;
          font-size: 10px;
          fill: #fff;
          font-family: 'proxima-nova', sans-serif; }
  .header-search-icon {
    margin-left: auto; }
    .header-search-icon .search {
      background-image: url("/img/search.svg");
      background-size: 2rem;
      background-repeat: no-repeat;
      background-position: center;
      display: block;
      height: 3rem;
      width: 3rem; }
  .header-phone {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    display: none; }
  .header-search {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    display: none; }
  .header-menu {
    display: none; }
  @media (min-width: 48rem) {
    .header {
      height: 5rem; }
      .header-logo a {
        height: 5rem;
        padding: 1rem 0; }
      .header-phone {
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
        display: block;
        margin: 0 1.25rem 0 auto;
        font-size: 1.25rem;
        line-height: 3rem; }
      .header-search-icon {
        margin-left: 0; }
      .header-burger, .header-search-icon, .header-bag, .header-phone {
        padding: 1rem 0; } }
  @media (min-width: 78rem) {
    .header-menu {
      display: -ms-flexbox;
      display: flex;
      font-size: 0.875rem;
      padding: 2.25rem 0;
      margin-left: 1.25rem;
      text-transform: uppercase; }
      .header-menu-item {
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
        margin-right: 1.25rem; }
        .header-menu-item.active a {
          color: #bbb; }
    .header-burger {
      display: none; }
    .header-logo {
      margin-left: 1.25rem; }
    .header-phone {
      font-size: 1rem; } }
  @media (min-width: 86rem) {
    .header-menu {
      letter-spacing: 0.12em; }
    .header-phone {
      font-size: 1.25rem; } }
  @media (min-width: 100rem) {
    .header-search-icon {
      display: none; }
    .header-search {
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
      display: block;
      -ms-flex-positive: 1;
      flex-grow: 1;
      max-width: 18rem;
      position: relative;
      margin-right: 0.625rem; }
      .header-search-input {
        border: 1px solid #e0e0e0;
        border-radius: 2px;
        font-size: 1rem;
        font-family: inherit;
        padding: 0.5rem 0.625rem;
        width: 100%;
        line-height: 1.5rem; }
      .header-search-submit {
        background-image: url("/img/search.svg");
        background-color: transparent;
        background-size: 2rem;
        background-repeat: no-repeat;
        background-position: center;
        border: 0;
        cursor: pointer;
        position: absolute;
        height: 40px;
        width: 40px;
        right: 1px;
        top: 1px; }
    .header-menu {
      margin-right: 1.875rem; }
    .header-phone {
      margin-left: auto; } }

.footer {
  background: #333;
  padding: 1.75rem 1.25rem; }
  .footer-menu {
    margin-bottom: 2.25rem;
    text-transform: uppercase;
    letter-spacing: 0.12em; }
    .footer-menu-item {
      margin-bottom: 1.75rem; }
      .footer-menu-item:last-child {
        margin-bottom: 0; }
  .footer a {
    color: #ffffff; }
  @media (min-width: 48rem) {
    .footer {
      display: -ms-flexbox;
      display: flex; }
      .footer-like {
        margin-left: auto; }
      .footer-menu {
        margin-bottom: 0;
        display: -ms-flexbox;
        display: flex; }
        .footer-menu-item {
          margin: 0 1em 0 0; } }

.main {
  padding-top: 3rem; }
  @media (min-width: 48rem) {
    .main {
      padding-top: 5rem; } }

a {
  border-bottom: 1px solid rgba(33, 33, 33, 0.3);
  color: #212121;
  text-decoration: none;
  transition-duration: 0.25s;
  transition-property: background, color; }

.button {
  letter-spacing: 0.12em;
  text-transform: uppercase;
  background-color: #333;
  border: 0;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  border-bottom: 0;
  padding: 0.5rem 1.25rem;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  outline: none;
  transition-duration: 0.25s;
  transition-property: background, color; }
  .button:hover {
    background-color: #000; }
