*, *::after, *::before {
  box-sizing: border-box;
}

body {
  color: #212121;
  font-family: proxima-nova, sans-serif;
  font-size: calc(var(--yr) * var(--fs));
  line-height: calc(var(--yr) * var(--lh));
}

a {
  color: #212121;
  text-decoration: none;
}
