.root {
  font-size: 15px;
  line-height: 28px;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  background: #fff;
  height: 3rem;
  transition: height 0.2s, background .2s;
  padding-top: 0;

  @media(--s) {
    height: 5rem;
  }
}

.logo {
  position: absolute;
  padding: 0.5rem 0;
  margin-left: var(--xr);
  z-index: 10;

  & a {
    display: block;
  }

  & svg {
    display: block;
    width: 112px;

    @media (--s) {
      width: 140px;
    }
  }

  @media(--s) {
    margin-left: calc(var(--xr) * 2);
    align-self: center;
  }

  @media(--l) {
    position: static;
  }
}

.burger_menu {
  @media(--s) {
    padding: 1rem 0;
  }

  @media(--l) {
    display: none;
  }

  & .burger {
    position: absolute;
    padding: var(--xr) var(--xr);
    user-select: none;
    z-index: 100;
    transition: top 0.2s;
    cursor: pointer;
    user-select: none;
    right: 0;

    & svg {
      display: block;
      width: calc(var(--yr) * 4.5);
      height: 18px;

      & rect {
        fill: #8F8F8F;
        transition: 0.2s fill;
      }
    }

    @media(--s) {
      margin-right: var(--xr);
    }
  }
}

.overlay {
  visibility: hidden;
  position: fixed;
  top: 3rem;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -2;
  opacity: 0;
  transition: visibility 0s ease .3s, opacity .3s;
  background: color-mod(black a(70%));

  &.active {
    visibility: visible;
    opacity: .4;
    transition: opacity .3s;
  }

  @media(--s) {
    top: 5rem;
  }
}

.phone {
  display: none;

  @media(--s) {
    & span {
      font-size: 14px;
      line-height: 28px;
    }
  }
}

.toggled {
  & .nav {
    visibility: visible;
    opacity: 1;
    transform: translateX(0%);
    transition: visibility 0s, transform .3s, opacity .3s;
  }

  & .overlay {
    visibility: visible;
    opacity: .8;
    transition: opacity .3s;
  }

  @media (--l) {
    display: none;
  }
}

.menu {
  & .contacts {
    & a {
      color: #8F8F8F;
      &:hover {
        color: #000;
      }
    }
  }

  & .about {
    margin-top: var(--xr);

    & a {
      color: #8F8F8F;

      &:hover {
        color: #000;
      }
    }

    @media(--l) {
      margin-top: 0;
      margin-left: calc(var(--xr) * 2);
    }
  }
}

.item, .logos {
  border-bottom: 1px solid rgba(33, 33, 33, 0.3);

  &.active {
    opacity: 0.5;
  }

  & a {
    display: block;
    border-bottom: 0;
    padding: 0.5rem 0;
    font-weight: var(--fw_medium);
    color: #000;
    text-decoration: none;
    transition-duration: 0.25s;
    transition-property: background, color;

    &:hover {
      color: #bbb;
    }
  }

  @media (min-width: 1280px) and (max-width: 1320px) {
    border-bottom: 0;

    &:not(:last-child) {
      margin-right: var(--xr);
    }

    & a {
      padding: 0;
    }
  }

  @media (min-width: 1320px) {
    border-bottom: none;

    &:not(:last-child) {
      margin-right: calc(var(--xr) * 2);
    }

    & a {
      padding: 0;
    }
  }
}

.about {
  margin: 0 calc(var(--xr) * 2);
}

.logos {
  margin-right: 0;
}

.nav {
  position: fixed;
  width: 280px;
  top: 0;
  bottom: 0;
  right: 0;
  background: white;
  z-index: 5;
  visibility: hidden;
  opacity: 0;
  padding: 5.25rem 1.25rem 1.75rem;
  transform: translateX(50%);
  transition-duration: 0.4s;
  transition-property: transform opacity;
  z-index: 4;
  overflow: hidden;
  overflow-y: auto;

  &.active {
    visibility: visible;
    opacity: 1;
    transform: none;
  }

  & .mobile {
    margin-top: 2.25rem;

    @media(--l) {
      display: flex;
      margin: 0;
      margin-left: var(--xr);

      & .item {
        & a {
          color: #bbb;
        }
      }
    }
  }

  @media(--l) {
    opacity: 1;
    padding: 0;
    overflow: visible;
    position: static;
    width: auto;
    visibility: visible;
    transform: none;

    & .menu {
      display: flex;
      padding: 26px 0;
      margin-left: calc(var(--xr) * 4);
    }
  }
}

.search {
  margin-left: auto;
  z-index: 10;

  &.search_icon {
    & a {
      background-image: url('../images/search.svg');
      background-size: 26px;
      background-repeat: no-repeat;
      background-position: center;
      display: block;
      height: 3rem;
      width: 3rem;
    }
  }

  @media(--s) {
    padding: 1rem 0;
    margin-left: 0;
  }
}

.cart {
  margin-right: calc(var(--xr) * 3);
  z-index: 10;

  &.cart_icon {
    & a {
      background-image: url('../images/cart.svg');
      background-size: 20px;
      background-repeat: no-repeat;
      background-position: center;
      display: block;
      height: 3rem;
      width: 3rem;
    }
  }

  @media(--s) {
    padding: 1rem 0;
    margin-right: calc(var(--xr) * 4);
  }

  @media(--l) {
    margin-right: calc(var(--xr) * 2);
  }
}

.options {
  display: flex;
  margin-left: auto;
}
