.root {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background: #fff;
  height: 3rem;
  transition: height 0.2s, background .2s;
  padding-top: 0;

  @media(--s) {
    height: 5rem;
  }
}

.logo {
  position: absolute;
  padding: 0.5rem 0;
  margin-left: 3.75rem;
  z-index: 10;

  & a {
    display: block;
  }

  & svg {
    display: block;
    width: 112px;
  }

  @media(--s) {
    padding: 1rem 0;

    & svg {
      width: 168px;
    }
  }
}

.burger_menu {
  @media(--s) {
    padding: 1rem 0;
  }

  & .burger {
    position: absolute;
    padding: 19px 1.25rem 18px;
    user-select: none;
    z-index: 100;
    transition: top 0.2s;
    cursor: pointer;
    user-select: none;

    & svg {
      display: block;
      width: calc(var(--yr) * 5);
      height: 11px;

      & rect {
        fill: #666666;
        transition: 0.2s fill;
      }
    }
  }
}

.overlay {
  visibility: hidden;
  position: fixed;
  top: 3rem;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -2;
  opacity: 0;
  transition: visibility 0s ease .3s, opacity .3s;
  background: color-mod(black a(70%));

  &.active {
    visibility: visible;
    opacity: .4;
    transition: opacity .3s;
  }
}

.phone {
  display: none;
}

.toggled {
  & .nav {
    visibility: visible;
    opacity: 1;
    transform: translateX(0%);
    transition: visibility 0s, transform .3s, opacity .3s;
  }

  & .overlay {
    visibility: visible;
    opacity: .8;
    transition: opacity .3s;
  }

  @media (--m){
    display: none;
  }
}

.menu {
  text-transform: uppercase;
}

.item {
  border-bottom: 1px solid rgba(33, 33, 33, 0.3);

  & a {
    display: block;
    border-bottom: 0;
    padding: 0.5rem 0;

    color: #212121;
    text-decoration: none;
    transition-duration: 0.25s;
    transition-property: background, color;
  }
}

.nav {
  letter-spacing: 0.12em;
  visibility: hidden;
  z-index: 2;
  transition: 0.5s;
  opacity: 0;
  background: #fff;
  padding: 5.25rem 1.25rem 1.75rem;
  top: 0;
  bottom: 0;
  left: 0;
  width: 280px;
  position: fixed;
  transform: translateX(-5rem);

  & .mobile {
    margin-top: 2.25rem;
  }
}

.phone {
  flex-shrink: 0;
  display: none;

  @media(--s) {
    padding: 1rem 0;
    align-self: center;
    display: block;
    margin: 0 1.25rem 0 auto;
    font-size: 1.25rem;
    line-height: 3rem;
  }
}

.search {
  width: 3rem;
  margin-left: auto;
  display: block;
  padding: 0.5rem 0;

  & a {
    display: block;
  }

  & svg {
    display: block;
    width: 32px;
    height: 32px;
    margin: 0 auto;
  }

  @media(--s) {
    margin-left: 0;
    padding: 1rem 0;
  }
}

.cart {
  margin-right: 0.625rem;
  padding: 0.5rem;

  & svg {
    display: block;
    width: 32px;
    height: 32px;
    margin: 0 auto;
  }

  @media(--s) {
    padding: 1rem 0;
  }
}
