.root {
  padding-top: 3rem;

  @media (--s) {
    overflow: hidden;
    padding-top: 5rem;
  }
}

.title {
  padding: 0 var(--xr);
}

.com {
  padding: calc(var(--yr) * var(--s4)) var(--xr) calc(var(--yr) * var(--s4) * 2);
  margin: 0 auto;

  @media (--s) {
    padding: calc(var(--yr) * var(--s4)) calc(var(--xr) * 2) calc(var(--yr) * var(--s4) * 2);
  }
}

.text {
  composes: com;
  max-width: 60rem;
}
