.products {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: var(--xr);
  grid-row-gap: calc(var(--yr) * var(--s3));

  @media (--s) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media(--m) {
    grid-template-columns: repeat(6, 1fr);
  }
}

.image {
  position: relative;
  background-color: white;
  overflow: hidden;
  z-index: -2;

  &::before {
    display: block;
    content: '';
    padding-top: calc(5 / 4 * 100%)
  }

  & img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 50%;
    right: 0;
    transform: translate(-50%, -50%);
    padding: 24px;
  }
}

.title {
  margin-top: calc(var(--yr) * var(--s1));
  composes: mt from '../Fonts.module.css';
  padding: 0 var(--yr);
}

.price {
  composes: mt from '../Fonts.module.css';
  color: var(--gr_color);
  margin-top: var(--yr);
  padding: 0 var(--yr);
}

.more {
  margin-top: calc(var(--yr) * var(--s3));
  text-align: center;
}

.product {
  display: block;

  &:nth-child(n+5) {
    display: none;
  }

  @media(--s) {
    &:nth-child(n+9) {
      display: block;
    }
  }

  @media(--m) {
    &:nth-child(n) {
      display: block;
    }
  }
}
