.product {
  &-sections {
    padding: $margin-l $gutter 0;

    &-root {
      @include font-size-h2;
      @include font-upper;

      margin-bottom: $margin-l;
    }
  }

  &-images {
    display: flex;
    padding: $margin-s $gutter 0;

    &-item {
      max-width: 200px;

      img {
        display: block;
        width: 100%;
      }
    }
  }

  &-details {
    padding: $margin-s $gutter 0;
  }

  @include breakpoint($m) {
    display: flex;
    flex-wrap: wrap;

    &-sections {
      width: 100%;
    }

    &-images, &-details {
      width: 50%;
    }
  }
}


.breadcrumb {
  display: flex;
  flex-wrap: wrap;

  border-top: 1px solid $light-grey-color;
  padding-top: $margin-m;

  &-item {
    margin-right: 0.3em;

    a {
      color: $primary-grey-color;
    }

    &:not(:last-child) {
      &:after {
        content: '/';
        color: rgba($primary-color, 0.3);
      }
    }
  }
}

.siblings {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: $margin-m - 0.3rem;

  &-item {
    margin-right: 0.3rem;
    margin-bottom: 0.3rem;

    a {
      display: block;
      background-color: $light-color;
      border-bottom: 0;
      border-radius: 2px;
      color: $primary-color;
      padding: 0 0.5em;

      &:hover {
        background-color: $dark-grey-color;
        color: $light-color;
      }
    }
  }
}