.product {
  &-sections {
    padding: $margin-m $gutter 0;

    &-root {
      @include font-size-h2;
      @include font-upper;

      margin-bottom: $margin-m;
    }

    &-siblings {
      margin-bottom: $margin-s;
    }

    &-breadcrumb {
      border-top: 1px solid $light-grey-color;
      padding: $margin-s 0;
    }
  }

  &-images {
    // display: flex;
    padding: 0 $gutter;
    margin-bottom: $margin-l;

    // &-item {
    //   max-width: 200px;

    //   img {
    //     display: block;
    //     width: 100%;
    //   }
    // }

    .slider {
      width: 100%;


      &-wrapper {
        // @include aspect-ratio(4, 5);
        padding: 8%;
        overflow: hidden;

        background-color: #fff;
      }

      &-images {
        height: 100%;
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;

        &-item {
          @include aspect-ratio(4, 5);

          background: {
            repeat: no-repeat;
            size: contain;
            position: center;
          }
        }
      }

    }

    .thumbs {
      display: flex;
      justify-content: center;
      margin-top: $margin-m;

      a {
        border: 1px solid #fff;
        display: block;
        margin-right: $gutter;
        background-color: #fff;
        padding: 10px;

        &:last-child {
          margin-right: 0;
        }

        &.active {
          border: 1px solid $primary-color;
        }
      }

      &-item {
        @include aspect-ratio(4, 5);

        background: {
          repeat: no-repeat;
          size: contain;
          position: center;
        }

        width: 80px;
      }
    }
  }

  &-details {
    padding: 0 $gutter;
    margin-bottom: $margin-l;

    h1 {
      margin-bottom: $margin-m;
    }

    .desc {
      margin-bottom: $margin-m;
    }

    .prop {
      margin-bottom: $margin-m;
      border-top: 1px solid $light-grey-color;

      &-row {
        display: flex;
        padding: $margin-xs 0;
        border-bottom: 1px solid $light-grey-color;

        > div {
          width: 50%;
        }

      }

      &-label {
        @include font-upper;

        padding-right: $gutter / 2;
        max-width: 280px;
      }

      &-value {
        padding-left: $gutter / 2;
      }

    }

    .sizes {
      border-bottom: 1px solid $primary-color;
      display: flex;
      flex-wrap: wrap;
      padding-bottom: $margin-m;
      margin-bottom: $margin-m;

      &-label {
        @include font-upper;

        width: 100%;
      }

      &-left, &-right {
        width: 100%;
        max-width: 280px;
      }

      &-row {
        display: flex;
        margin-bottom: $margin-xs;

        > * {
          flex-shrink: 0;
        }

        &-size {
          // margin-right: auto;
          width: 100px;
        }

        &-minus, &-plus {
          cursor: pointer;
          width: $base-rhythm;
          border: 1px solid $light-grey-color;
          margin-right: 1px;
          background-color: #fff;
          user-select: none;
          transition-duration: 0.3s;
          transition-property: background, border;
          position: relative;
          user-select: none;

          &:after {
            font-size: 1rem;
            position: absolute;
            content: '-';
            // width: 33%;
            // height: 1px;
            // background-color: $primary-color;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
          }


          &:hover {
            background-color: $primary-color;
            // border-color: $primary-color;

            &:after {
              color: $light-color;
            }
          }
        }

        &-plus {
          &:after {
            content: '+';
            // position: absolute;
            // height: 33%;
            // width: 1px;
            // background-color: $primary-color;
            // left: 50%;
            // top: 50%;
            // transform: translateY(-50%);
          }
        }


        &-input {
          width: $base-rhythm * 1.5;
          line-height: 1.625rem;
          margin-right: 1px;
          appearance: none;

          input {
            font-family: inherit;
            font-size: 1rem;
            height: $base-rhythm;
            border: 1px solid $light-grey-color;
            background-color: #fff;
            line-height: inherit;
            padding: 0;
            width: 100%;
            outline: none;
            text-align: center;
          }
        }
      }
    }

    .order {
      &-price {
        margin-bottom: $margin-s;
        max-width: 280px;
        margin-right: $gutter;

        .price {
          @include font-size(6);
        }
      }

      &-to-basket {
        .button {
          padding: $base-rhythm / 2 $gutter * 2;

          &:disabled {
            // background-color: red;
          }
        }
      }
    }

    @include breakpoint($s) {
      .sizes {
        &-left, &-right {
          width: 50%;
        }

        &-left {
          padding-right: $gutter / 2;
        }


        &-right {
          padding-left: $gutter / 2;
        }

      }

      .order {
        display: flex;

        &-price {
          flex-grow: 1;
          margin-bottom: 0;
        }


      }
    }
  }

  @include breakpoint($m) {
    display: flex;
    flex-wrap: wrap;

    &-sections {
      width: 100%;
    }

    &-images, &-details {
      width: 50%;
      margin-bottom: $margin-l * 2;
    }

  }

  @include breakpoint($mm) {
    &-details {
      width: 11 / 24 * 100%;
      margin-left: 1 / 24 * 100%;
    }
  }
}


.breadcrumb {
  display: flex;
  flex-wrap: wrap;

  &-item {
    margin-right: 0.3em;

    a {
      color: $primary-grey-color;
    }

    &:not(:last-child) {
      &:after {
        content: '/';
        color: rgba($primary-color, 0.3);
      }
    }
  }
}

.siblings {
  display: flex;
  flex-wrap: wrap;

  &-item {
    margin-right: 0.3125rem;
    margin-bottom: 0.3125rem;
    white-space: nowrap;
    overflow: hidden;

    a {
      display: block;
      background-color: $light-color;
      border-bottom: 0;
      border-radius: 2px;
      color: $primary-color;
      padding: 0 0.5em;

      &:hover {
        background-color: $dark-grey-color;
        color: $light-color;
      }
    }

    &.active {
      a {
        background-color: $dark-grey-color;
        color: $light-color;
      }
    }
  }
}

.products {
  &-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -$gutter / 2;
    margin-right: -$gutter / 2;

    &-item {
      flex-shrink: 0;
      padding: 0 $gutter / 2;
      margin-bottom: $margin-m;
      width: 50%;

      a {
        border-bottom: 0;
        display: block;
        width: 100%;


        .image {
          @include aspect-ratio(4, 5);

          .img {
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;

            &.lazy {
              z-index: 2;
            }
          }
        }

        .iandb {
          position: relative;
          overflow: hidden;
          background-color: white;
          margin-bottom: $margin-xs;

          .buy {
            @include font-upper;

            font-weight: 600;
            left: $gutter;
            bottom: $margin-s;
            opacity: 0;
            position: absolute;
            z-index: 2;

            transform: translate(0, 60%);
            transition: 0.4s transform, 0.4s opacity;
          }
        }

        .tap {
          .title {
            max-height: 2 * $base-rhythm;
            overflow: hidden;
            font-weight: 600;
            line-height: $base-rhythm-line * ($base-line-height - 2);
            margin-bottom: $base-rhythm-line * 2;

            @include breakpoint($l) {
              padding-right: $gutter;
            }
          }

          .price {
            font-size: 1rem;
          }
        }

        &:hover {
          .iandb {
            .buy {
              transform: translate(0, 0);
              opacity: 1;
            }
          }
        }
      }
    }

    @include breakpoint($s) {
      &-item {
        width: 25%;
      }
    }

    @include breakpoint($mm) {
      &-item {
        width: 1 / 6 * 100%;
      }
    }

  }
}