- set_meta_tags title: 'Фуфайка — интернет-магазин спецодежды, спецобуви, перчаток, рукавиц и средств защиты', site: false

= react_component 'Pages/Index', \
  { \
    sections: @sections.as_json(methods: %i[id title depth slug image bestsellers link]),
    slides: @slides.as_json \
  }
