.sections {
  display: block;
  position: relative;

  @media(--l) {
    display: flex;
    &:nth-child(odd){
      & .section_image {
        order: 1;
      }
    }
    &:nth-child(even){
      & .section_image {
        order: -1;
      }
      & .section_slider {
        & .nav {
          right: 15%;
          transform: translateX(7%);
          left: auto;
        }
      }
    }
  }
}

.section_image {
  position: relative;
  margin-bottom: 8px;

  @media(--l) {
    width: 66.7%;
    display: grid;
  }
}

.section_slider {
  padding: var(--yr);

  @media(--l) {
    width: 33.3%;
    padding: calc(var(--xr) * 2) calc(var(--xr) * 2) 0;
    /* padding: 0 var(--yr); */
    /* margin-bottom: 32px; */
  }
}

.image {
  position: relative;
  background-color: #212121;
  background-position: center;
  background-size: cover;

  &::before {
    display: block;
    content: '';
    padding-top: 100%;
    width: 100%;
    background: #000;
    opacity: 0.2;

    @media(--s) {
      padding-top: calc(4 / 5 * 100%);
    }
  }
}

.text {
  color: #fff;
  position: absolute;
  left: 20px;
  bottom: 32px;
  right: 40px;

  & h1 {
    /* font-size: 20px; */
    /* line-height: 28px; */
    margin-bottom: calc(var(--yr) * var(--s2));
  }

  @media(--l) {
    bottom: 50%;
    transform: translate3d(0, 50%, 0);
  }
}

.products {
  display: flex;

  @media(--l) {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    grid-gap: 8px;
    padding: 0 var(--yr);
  }
}

.product {
  position: relative;
  width: 100%;
  /* background: white; */
  margin: 0 8px 8px;

  @media(--s) {
    margin: 0 8px;
  }

  @media(--m) {
    margin: 0 8px 8px;
  }

  @media(--l) {
    margin: 0;
  }
}

.photo {
  position: relative;
  margin-bottom: 8px;
  background: white;

  &::before {
    display: block;
    content: '';
    padding-top: calc(5 / 4 * 100%)
  }

  & img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 50%;
    right: 0;
    transform: translate(-50%, -50%);
    padding: 24px;
  }
}

.title {
  composes: mt from '../../Fonts.module.css';
  overflow: hidden;
  /* font-weight: 600; */
  /* font-size: 14px; */
  /* line-height: 20px; */
  max-height: calc(var(--yr) * calc(var(--lh) - 1.5) * 2);
  /* padding: 0 8px; */
  /* margin-bottom: calc(var(--yr) * 2); */
}

.price {
  composes: mt from '../../Fonts.module.css';
  color: var(--gr_color);
  margin-top: var(--yr);
  /* padding: 0 var(--yr); */
}

.nav {
  display: none;

  @media(--l) {
    color: black;
    display: block;
    z-index: 10;
    padding: 0;
    height: calc(var(--yr) * 4 * 2);
    width: max-content;
    margin: calc(var(--yr)* 4) auto;
  }
}

.slide {
  float: left;
  list-style: none;
  padding: 15px 0.3125rem;
  cursor: pointer;
  opacity: 0.6;
  transition-duration: 0.2s;

  &::before{
    background-color: #000;
    content: '';
    display: block;
    width: 1.25rem;
    height: 2px;
  }

  &:last-child {
    display: none;
  }
}

.tap {
  height: 5.75rem;

  padding-right: 10%;
}

.more {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  composes: mt from '../../Fonts.module.css';
  text-align: center;
  transform: translateY(-50%);
  padding-bottom: 5.75rem
  /* margin: 68% 0; */
}

.active {
  opacity: 1;
}
