.sections {
  display: block;
  @media(--l) {
    display: flex;
    &:nth-child(odd){
      & .section_image {
        order: 1;
      }
    }
    &:nth-child(even){
      & .section_image {
        order: -1;
      }
    }
  }
}

.section_image {
  position: relative;
  margin-bottom: 8px;

  @media(--l) {
    width: 66.7%;
  }
}

.image {
  position: relative;
  background-color: #212121;
  background-position: center;
  background-size: cover;

  &::before {
    display: block;
    content: '';
    padding-top: 100%;
    width: 100%;

    @media(--s) {
      padding-top: calc(2 / 3 * 100%);
    }

    @media(--m) {
      padding-top: 50%;
    }

    @media(--l) {
      padding-top: 80%;
    }
  }
}

.text {
  color: #fff;
  position: absolute;
  left: 20px;
  bottom: 32px;
  right: 40px;

  & h1 {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 8px;
  }

  @media(--l) {
    bottom: 50%;
    transform: translate3d(0, 50%, 0);
  }
}

.slider {
  @media(--l) {
    width: 33.3%;
  }
}

.products {
  display: flex;

  @media(--l) {
    flex-wrap: wrap;
  }
}

.product {
  width: 100%;
  background: white;
  margin: 0 8px 8px;
}

.photo {
  position: relative;
  margin-bottom: 8px;

  &::before {
    display: block;
    content: '';
    padding-top: calc(5 / 4 * 100%);
    width: 100%;
  }

  & img {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
  }

  @media(--l) {
    &:hover {
      & .buy {
        opacity: 1;
        transform: translate(0, 0);
      }
    }
  }
}

.title {
  overflow: hidden;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  height: 5.753rem;
  padding: 0 8px;
}

.buy {
  font-weight: 600;
  left: 8px;
  font-size: 15px;
  bottom: 1rem;
  opacity: 0;
  position: absolute;
  z-index: 2;
  transform: translate(0, 60%);
  transition: 0.4s transform, 0.4s opacity;
}
