.root {
  padding-top: 3rem;

  @media(--s) {
    padding-top: 5rem;
  }
}

.text {

}

.slider {
  position: relative;
}

.image {
  position: relative;

  &::before {
    display: block;
    content: '';
    padding-top: 100%;

    @media(--s) {
      padding-top: calc(2 / 3 * 100%);
    }

    @media(--m) {
      padding-top: 50%;
    }
  }

  & img {
    left: 0;
    top: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size:cover;
  }
}

.text {
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: #fff;
  position: absolute;
  left: 1.25rem;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  bottom: 3.5rem;
  width: 70%;
  z-index: 10;

  @media(--s) {
    bottom: 50%;
    width: 70%;
    transform: translate3d(0, 50%, 0);
    font-size: 45px;
    line-height: 48px;
    font-weight: 300;
  }

  @media(--l) {
    width: 58%;
  }
}

.nav {
  color: white;
  position: absolute;
  z-index: 10;
  bottom: 8px;
  padding: 0;
  left: 50%;
  width: 150px;
  transform: translateX(-50%);
}

.slide {
  float: left;
  list-style: none;
  padding: 19px 0.3125rem;
  cursor: pointer;
  opacity: 0.6;
  transition-duration: 0.2s;

  &::before{
    background-color: #fff;
    content: '';
    display: block;
    width: 1.25rem;
    height: 2px;
  }
}
