.products {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: var(--xr);
  grid-row-gap: calc(var(--yr) * var(--s3));

  /* @media (--s) {
    grid-template-columns: 1fr 1fr 1fr;
  } */

  @media (--s) {
    grid-column: 2 / span 1;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  /* @media (--l) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  } */

  & a {
    background-color: white;
  }
}

.image {
  position: relative;
  background-color: white;
  overflow: hidden;

  &::before {
    display: block;
    content: '';
    padding-top: calc(5 / 4 * 100%)
  }

  & img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 50%;
    right: 0;
    transform: translate(-50%, -50%);
    padding: 24px;
  }

  &.main_image {
    &:before {
      padding-top: calc(16 / 9 * 100%);
    }
  }
}

.title {
  margin-top: calc(var(--yr) * var(--s1));
  composes: mt from '../Fonts.module.css';
  padding: 0 var(--yr);
}

.price {
  composes: mt from '../Fonts.module.css';
  color: var(--gr_color);
  margin-top: var(--yr);
  padding: 0 var(--yr);
}

.more {
  margin-top: calc(var(--yr) * var(--s3));
  text-align: center;

  @media(--m) {
    /* margin-top: 0; */
  }
}

.item_products {
  display: block;
  @media(--m) {
    display: grid;
    grid-template-columns: 30% 68%;
    grid-column-gap: calc(var(--yr) * var(--s2));
  }
}

.main_product {
  display: none;
  @media(--m) {
    grid-column: 1 / span 1;
    display: grid;
    grid-template-columns: 1fr;
    background-color: white;
  }
}

.qw {
  display: block;
}
