.root {
  padding-top: calc(var(--yr) * 15.5);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: var(--xr);
  grid-row-gap: calc(var(--yr) * var(--s3));

  @media (--s) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (--m) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  @media (--l) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

.pl {
  &:nth-last-child(5) { opacity: 0.7; }
  &:nth-last-child(4) { opacity: 0.5; }
  &:nth-last-child(3) { opacity: 0.3; }
  &:nth-last-child(2) { opacity: 0.2; }
  &:nth-last-child(1) { opacity: 0.15; }
}

.image {
  composes: image from './List.module.css';

  animation : shimmer 2s infinite;
  background: #fff;
  background-image: linear-gradient(to right, #fff 0%, #edeef1 20%, #fff 40%, #fff 100%);
  background-repeat: no-repeat;
  background-size: 800px auto;
}

.title {
  &::before {
    content: '';
    display: block;
    height: 10px;
    background-color: green;
    margin-bottom: 1em;
  }

  &::after {
    content: '';
    display: block;
    background-color: red;
    height: 10px;
    margin-bottom: 1em;
    width: 60%;
  }

  &::after, &::before {
    animation : shimmer 2s infinite;
    background: #fff;
    background-image: linear-gradient(to right, #fff 0%, #edeef1 20%, #fff 40%, #fff 100%);
    background-repeat: no-repeat;
    background-size: 800px auto;
  }
}

@keyframes shimmer {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}
